*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container{
    padding: 120px 80px;
}

.destaque{
    font-weight: 700;
    font-style: italic;
}

h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px;
}
.faixa{
    background-color: #3c184e;
    text-align: center;
}

/* INICIO SEÇÃO 1 banner*/
.banner{
    background-image: url(/img/banner-topo.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
}

.container-nome-logo{
    max-width: 290px;
    color: #3c184e;
    text-align: center;
}
.nome-pet-shop{
    font-size: 35px;
    margin: 0  0 5 0;
    font-weight: 600;
}

.nome-pet-shop img{
    width: 30px;
    margin-right: 5px;
}
.slogan-pet-shop{
    font-size: 14px;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.container-titulo-topo{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color:#ffffffc4 ;
    box-shadow: 0 8px 32px 0 #1f26875e;
}
.titulo-topo{
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}
.link-fale-conosco{
    width: 200px;
    padding: 10px 25px 10px 25px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}
.link-fale-conosco a{
    color: #ffff;
}
.link-fale-conosco img{
    width: 20px;
}
/*FIM SEÇÃO 1 banner*/

/*INICIO SEÇÃO 2 serviços*/
.box-servicos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}
.box-servicos{
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}
.box-servicos li{
    font-size: 20px;
    margin: 0 0 20px 0;
}
.box-servicos-img{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.box-servicos-img img{
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
    margin: 3px;
}
/*FIM SEÇÃO 2 serviços*/

/*INICIO SEÇÃO 3 e 5 faixa*/
.faixa p{
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.redes-sociais a{
    margin: 0 20px;
}
.redes-sociais img{
    width: 50px;
    height: 50px;
}
/*FIM SEÇÃO 3 e 5 faixa*/

/*INICIO SEÇÃO 4 marcas*/
.container-marcas{
    max-width: 800px;
    margin: 0 auto;
}
.logo-marca{
    width: 148px;
    height: 148px;
    margin: 0 15px;
}
/*FIM SEÇÃO 4 marcas*/

/*INICIO SEÇÃO 6 localização*/
.localizacao{
    text-align: center;
}
.localizacao p {
    font-size: 20ox;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px;
}
.localizacao iframe{
    width: 800px;
    height: 450px;
}
/*FIM SEÇÃO 6 localização*/

/*INICIO SEÇÃO 7 rodapé*/
.rodape{
    width: 100vw;
    padding: 10px 0;
    background-color: #3c184e;
}
.rodape p{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.rodape a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}